@import './global.scss';

$margin: 12px;
$smallsq-height: 50em; 

#content {
    background: $content-bg-colour;
    padding-left: $left-padding;
    padding-right: $right-padding;
}

.wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);   
    grid-auto-rows: auto;                     
    grid-gap: $margin;                           
    min-height: 700px;
}

%box {
    height: 100%;
    overflow: hidden;
    position: relative;
    display:grid;
    grid-row: auto;
    min-height: 200px;
    img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        top: 0;
        z-index: 0
    }
    h3 {
        margin: auto;
        color: white;
        font-weight: bold;
        white-space: pre-wrap;
        z-index: 2;
        line-height: 100%;
    }
    button {
        @extend %button-red;
        margin: 0 auto 10% auto;
        max-height: 30px;
        z-index: 2;
    }
    .prompt {
        position: absolute;
        bottom: 10%;
        right: 1%;
        text-decoration: none;
        color: white;
        z-index: 2;
        letter-spacing: 3px;
    }
    a::after{
        content: " 〉";
    }
    .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.6);
        z-index: 1;
    }
}

.small-sq {
    @extend %box;
    background: white;
}

.rect {
    @extend %box;
    grid-column-end: span 2;
    // width: $smallsq-height * 2 + $margin * 2;
    background: yellow;
}
.big-sq {
    @extend %box;
    // height: $smallsq-height * 2 + $margin * 2;
    // width: $smallsq-height * 2 + $margin * 2;
    grid-row-end: span 2;
    grid-column-end: span 2;
    background: red;
    h3{
        margin-bottom: 10px;
        padding-top: 20px;
    }
}


@media screen and (max-width: 700px) {
    #content {
        padding-left: 0px;
        padding-right: 0px;
    }

    .wrapper {
        padding: 0px;
        grid-gap: 0px;
        grid-template-columns: repeat(2, 1fr);
    }

    .prompt {
        visibility: hidden;
    }
} 