$left-padding: 51px;
$right-padding: 51px;
$header-footer-bg-colour: #000000;
$content-bg-colour: #2A2A2A;
$red: #BB0000;

%button {
    display: inline;
    border: 0; 
    border-radius: 0.25em;
    padding: 5px 25px 5px 25px;
    margin: 5px 10px 0px 10px;
}

%button-red{
    @extend %button;
    font-weight: bold;
    background: $red;
    color: white;
}

.small-font h3 {
    font-size: 25px;
}

.big-font h3 {
    font-size: 40px;
}

.text-left-align{
    text-align: left;
}

.text-center-align{
    text-align: center;
}