@import './global.scss';

#header-wrapper {
    display: grid;
    grid-template-columns: 150px 1fr 1fr;
    grid-auto-rows: 30px; 
    padding: 10px;
    background: $header-footer-bg-colour;
    padding-left: $left-padding;
    padding-right: $right-padding;
    min-height:50px;
}

.pc {
    #header-logo {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;
        padding-top:18px;
    }
    
    #header-auth {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;

        #login-button{
            @extend %button;
            float: right;
            &:hover{
                @extend %border-glow;
            }
        }
        
        #signup-button{
            @extend %button-red;
            float: right;
            &:hover{
                @extend %border-glow;
            }
        }
    }
    
    #header-nav {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
    
        ul {
            list-style-type: none;
            display:inline;
            margin: 10px 0px 2px 0px;
        }
    
        li {
            display:inline;
            position: relative;
            padding: 0px 30px 0px 30px;
            color: white;
            font-size: 13px;
            
        }
        li:hover{
            color: red;
            cursor: pointer;
        }
        li:hover::after{
            position: absolute;
            top: 23px;
            left: 0px;
            height: 3px;
            width: 100%;
            background: red;
            z-index: 4;
            content:" "
        }
            
        #nav-support {
            float: right;
        }
        
        #nav-games {
            float: left;
        }
    
    }     
}


.mobile {
    #panel {
        display: grid;
        grid-column: 1fr;
        grid-template-rows: 80px auto 920px;
        position: absolute;
        top: 70px;
        left: 0px;
        width: 100%;
        background: $panel-bg-colour;
        z-index: 3;

        #header-auth{
            padding-top:20px;
            display: block;
            
            #login-button{
                @extend %button;
                font-size: 25px;
                &:hover{
                    @extend %border-glow;
                }
            }
            
            #signup-button{
                @extend %button-red;
                font-size: 25px;
                &:hover{
                    @extend %border-glow;
                }
            }
        }

        #header-nav{
            display: grid;
            grid-column: 1fr;
            grid-row: auto;
            grid-auto-rows: min-content;
            ul{
                grid-row-end: span 1;
                list-style-type: none;
                text-align: left;
            }
            li {
                color: white;
                font-size: 20px;
                padding: 20px;
            }
            li:hover{
                color: red;
                cursor: pointer;   
            }
        }
    }
}

.panel-button {
    @extend %button;
    position: absolute;
    right:30px;
    top: 20px;
    margin: 0px;
    padding: 0px;
    background: no-repeat;
    height: 35px;
    width: 35px;
    text-align: center;
    border-radius: 0;
}

@media screen and (max-width: 1000px) {
    .pc #header-auth {
        display: none;
    }
    .pc #header-nav {
        display: none;
    }
} 
