#header-wrapper {
    display: grid;
    grid-template-columns: 150px 1fr 1fr;
    grid-auto-rows: 30px; 
    padding: 10px;
    background: black;
    padding-left: 51px;
}

#header-logo {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    padding-top:18px;
}

#header-auth {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

#header-nav {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

#header-nav ul {
    list-style-type: none;
    display:inline;
    margin: 10px 0px 2px 0px;
}

#header-nav li {
    display:inline;
    padding: 0px 30px 0px 30px;
    color: white;
    font-size: 13px;
}

#header-auth button {
    display: inline;
    float: right;
    border: 0; 
    border-radius: 0.25em;
    padding: 5px 25px 5px 25px;
    margin: 5px 10px 0px 10px;
}

#nav-support {
    float: right;
}

#nav-games {
    float: left;
}


